.Content__main {
  max-width: 840px;
  margin: 0 auto;
  padding: 5px 30px 35px 30px;
  background: rgba(255, 255, 255, 0.7);
  min-height: 500px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  z-index: 10;
  font-size: 0.9rem;
}

.Content__main h3 {
  font-size: 1.6rem;
  font-family: Dancing Script;
  height: 50px;
}

.Content__main h4 {
  font-size: 1.111rem;
  font-family: Lato;
  font-weight: bold;
}

.Content__main h5 {
  font-size: 1.0rem;
  font-family: Lato;
  font-weight: normal;
}

.Content__main p {
  margin: 0;
}

.Content__main:before {
  position: absolute;
  border: 5px solid rgba(197, 209, 208, 0.6);
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  left: 25px;
  top: 25px;
  content: "";
}

@media only screen and (max-width: 480px) {
  .Content__main {
    width: 94%;
  }

  .Content__main:before {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    left: 10px;
    top: 10px;
  }
}
