.Layout__header {
    position: fixed;
}

.Layout__content {
    align-items: flex-start;
    background-color: #FFFFFF;
    box-shadow: 3px 18px 11px 0 rgba(0, 0, 0, 0.2);
    color: #282828;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    opacity: 0.8;
    box-sizing: border-box;
}

