.Information__content {
  margin-top: 50px;
  padding-bottom: 50px;
}

.Information__info-box {
  position: relative;
  margin: 0 30px;
  text-align: left;
  z-index: 11;
}

.Information__info-box p {
  padding-bottom: 10px;
}

.Information__list {
  padding-bottom: 25px;
}

@media only screen and (max-width: 480px) {
  .Information__means-of-transport .Information__list {
    width: 100%;
  }

  .Information__info-box {
    margin: 0 5px;
  }
}
