.HeadlineImage__background-image {
  background: url(/img/background_image.jpg) no-repeat top center;
  background-size: cover;
  margin-bottom: 30px;
  min-height: 550px;
}

@media only screen and (max-width: 480px) {
  .HeadlineImage__background-image {
    min-height: 450px;
  }
}
