* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #f8f6f4;
  color: #282828;
  font-family: Lato;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: auto;
  margin: 0;
  padding: 0 0 8rem;
  min-height: calc(100vh - 40px);
  justify-content: flex-end;
}

html {
  overflow-y: scroll;
}

a {
  color: inherit;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: Dancing Script;
  font-weight: normal;
}

.grid-2 {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-right: 1px solid #f8f6f4;
  border-top: 1px solid #f8f6f4;
}

.grid-2 > span {
  padding: 1px 8px;
  border-left: 1px solid #f8f6f4;
  border-bottom: 1px solid #f8f6f4;
}


@media only screen and (max-width: 480px) {
  body {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .grid-2 {
    width: 100%;
  }
}
