.Header__header {
  background: #ffffff;
}
.Header__header h2 {
  font-family: Dancing Script;
  text-align: center;
  color: #8ba4a1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  padding: 0 0 0.4rem 0;
  margin: 0;
  font-weight: normal;
  font-size: 2.2em;
}

.Header__header-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0 0 1.6rem 0;
}

.Header__header-text .Header__header-text-top:before,
.Header__header-text .Header__header-text-top:after {
  top: 0.5rem;
  background: #63796d;
  width: 25px;
}

.Header__header-text .Header__header-text-top:before {
  left: -35px;
}

.Header__header-text .Header__header-text-top:after {
  right: -35px;
}
